# Python
*.pyc
__pycache__/

# Django
*.sqlite3
*.log

# Virtual Environment
myenv/
env/
venv/

# IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Secrets (Make sure to add any sensitive information)
*.env
